*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url('../img/tigre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

a:hover{
    color: black !important;
}

#articleTigre3{
    position: relative;
}

#tigre3{
    position:absolute;
    left: 20px;
}

#teteTigre{
    position: relative;
}

#teteTigre article{
    position: absolute;
    bottom: 0;
}